
[Unit]
Wants=network.target
After=network.target

[Service]
EnvironmentFile=/usr/local/share/ax-feed978/default
EnvironmentFile=/etc/default/ax-feed978
SyslogIdentifier=ax-feed978-convert
User=dump1090
ExecStart=-/usr/local/share/ax-feed978/convert.sh
Type=simple
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
